@use "../colors";

/* Footer
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
.footer {
	text-align: center;
	padding: 60px 0 120px;
	color: colors.$c-grey;
	border-top: 1px dashed colors.$c-darkgreen;
}

.footer-container {
	width: 100%;
	padding: 8px;
	background: rgba(colors.$c-svg-black, .8);
	position: relative;
	bottom: 0;
	border-top: 1px solid colors.$c-green;
	box-shadow: 0 0 4px #999;
	color: colors.$c-white;
	z-index: 99;
	backdrop-filter: blur(5px);

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin-right: 40px;

		svg {
			fill: currentcolor;
			width: 20px;
		}
	}

	&__links {
		vertical-align: top;
		line-height: 2;
		margin-left: 4rem;
	}

	@media (height >= 606px) {
		position: fixed;
	}
}

.credits {
  font-style: italic;
}

