@use "../colors";
@use 'sass:list';

.logo {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 111px;
	z-index: 9;

	// higher than main menu
	svg {
		width: 100%;
	}
}

$animation-delay-logo: 3s;

.mouse-device .logo {
	transition: transform 11s $animation-delay-logo;

	&:hover {
		transform: scale3d(2, 2, 2) translateY(25%);
	}
}

$colors: colors.$c-lightorange, colors.$c-lightpurple, colors.$c-gold;
$fill-colors: colors.$c-lightpurple, colors.$c-gold, colors.$c-lightorange;
$max: 3;
$stroke-step: 7%;

.letter-bg {
	.mouse-device &__item {
		shape-rendering: geometricprecision;
	}

	.mouse-device .logo:hover &__item {
		stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
		stroke-width: 2px;
		animation: stroke-offset 9s infinite linear 1s;
		transition: fill 2s;

		@for $item from 1 through $max {
			$stroke-color: list.nth($colors, $item);
			$fill-color: list.nth($colors, $item);
			&:nth-child(#{$item}) {
				stroke: $stroke-color;
				stroke-dashoffset: $stroke-step * $item;
				fill: $fill-color;
			}
		}

		&.letter-bg__inner {
			animation: stroke-offset 9s infinite linear 1s, heartbeat-color 2s infinite $animation-delay-logo;
		}
	}
}

@keyframes heartbeat-color {
	0% {
		fill: colors.$c-gold;
	}

	20% {
		fill: colors.$c-lightorange;
	}

	40% {
		fill: colors.$c-gold;
	}

	60% {
		fill: colors.$c-lightorange;
	}

	80% {
		fill: colors.$c-gold;
	}

	100% {
		fill: colors.$c-gold;
	}
}

@keyframes stroke-offset {
	50% {
		stroke-dashoffset: $stroke-step * $max;
		stroke-dasharray: 0 $stroke-step * $max * 2.5;
	}
}
