<div class="whatiread">
  <h2 class="whatiread__title">🧐Articles i read</h2>
  <p>Articles about IT knowledge I recently read:</p>
  {% set maxWhatireadItems = 4 %}
  {% include "partials/whatiread-list.njk" %}
  <p>See the whole list <a href="{{ basePath }}/whatiread/">here</a>.</p>
</div>
