@use "sass:meta";

.svg-icon-lib {
	border: 0 !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@include meta.load-css("../layouts/svg-symbols");
